.address_card{
    /* border: 1px solid red; */
    display:grid;
    grid-column: repeat(1,12fr);
    position: relative;
    margin-top: 30px;
}

 .trow{
    border: 3px solid rgb(255, 157, 0);
    background-color: rgb(152, 255, 250);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    
}
td{
    margin: 3px;
}

.addNewaddress{
    height: 40px;
    width:120px ;
    margin-top: 10px;
    margin-left: calc((100vw-120px)/2);
    background-color: rgb(13, 132, 132);
    cursor: pointer;
    color: white;
    
   
}

.addNewaddress:hover{
  
    box-shadow: rgba(20, 136, 113, 0.971) 0px 22px 70px 4px;
   
}
