.cartmain{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
    width: 86%;
    margin: auto;
    align-items: center;
    margin-top: 100px;
position: relative;
    /* border: 10px solid red; */
    margin-top: 20px;
    overflow-y: scroll;
}
.cartitm{
    height: 250px;
    width: 200px;
    border: 1px solid green;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}
.cartitm>img{
    height: 50%;
    width: 99.8%;
    border-radius: 5%;
    /* border: 1px solid blue; */
  

}
.cartitm>h3{
    
    /* border: 1px solid blue; */
    height: 30px;
    width: 200px;
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
}
.cartitm>button{
    margin: auto;
    height: 30px;
    width:180px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(40, 197, 197);
    border-radius:5px;
    margin-left: 8px;
    cursor: pointer;
  
}

.paymentcont{
    /* border: 30px solid rgb(39, 172, 39); */
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: black;
   
    

}
.paymentcont>p{
    color: white;
    font-size: 20px;
    font-weight: 600;
    /* border: 1px solid green; */
    width: 250px;
    margin: auto;
    align-self: flex-end;
}
.paymentcont>button{
    height: 40px;
    width: 120px;
    background-color: rgb(44, 180, 185);
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    /* margin-left: calc((100vw - 120px)/2); */
    margin-top: 10px;
    margin-right: 15px;
    /* margin-right: 5px; */
    cursor: pointer;
   
    
}
.emptyCartimg{
    /* border: 5px solid red; */
    position: relative;
    width: 60%;
    height: 80vh;
}

@media only screen and (min-width :0px) and (max-width:430px) {

    .cartmain{
        display: grid;
        grid-template-columns: repeat(1, 6fr);
        width: 99%;
        /* border: 1px solid red; */
        margin-top: 20px;
    }
    .cartitm{
        height: 230px;
        width: 55%;
       margin: auto;
       margin-top: 25px;
        border: 1px solid green;
        align-items: center;
        justify-content: center;
    }
    .cartitm>img{
        height: 50%;
        width: 99.8%;
        /* border: 1px solid blue; */
      
    
    }
   
    .cartitm>button{
        margin: auto;
        height: 30px;
        width:98%;
        margin: auto;
        margin-top: 20px;
        background-color: rgb(40, 197, 197);
        border-radius:5px;
        /* margin-left: 4.5px; */
      
    }
    .emptyCartimg{
        /* border: 5px solid red; */
        position: relative;
        width: 80%;
        height: 80vh;
    }

    .paymentcont>p{
        color:rgb(0, 0, 0);
        
        
    }
   

}