.home{
    /* border: 1px solid red; */
    width: 102%;
    margin: auto;
    background-color: rgb(11, 11, 11);
   
}

.fristimgs{
    height: 300px;
    width: 101%;
    /* border: 1px solid red; */
    margin: auto;
    z-index: 1;
}
.fristimgs>img{
    height: 100%;
    width: 100%;
}
.catagory{
    display: grid;
    width: 99%;
    grid-template-columns: repeat(3 ,6fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.catagory >div{
    /* border:  1px solid blue; */
    width: 63%;
    height:300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    /* border-radius: 50%; */
    cursor:pointer;
    
}

.catagory >div > img{
    height: 50%;
    width:100%;
    object-fit: cover;
    border-radius: 10%;
   

 
}


@media only screen and (min-width :0px) and (max-width:430px) {
    .home{
        /* border: 1px solid red; */
        width: 100%;
        margin: auto;
        background-color: rgb(11, 11, 11);
    }
    .catagory{
        display: grid;
        width: 99%;
        grid-template-columns: repeat(2 ,6fr);
        gap: 1px;
        justify-content: center;
        align-items: center;
        /* border:  1px solid blue; */
    }
    .catagory >div{
        /* border:  1px solid blue; */
        width: 80%;
        height:150px;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 15px;
        /* border-radius: 50%; */
        cursor:pointer;
        
    }
    
    .catagory >div > img{
        height: 50%;
        width:100%;
        object-fit: cover;
        border-radius: 10%;
    
     
    }

    .home{
        /* border: 1px solid red; */
        width: 99%;
        margin: auto;
        background-color: rgb(0, 0, 0);
    }
}