.position{
    align-items: center;
    margin: auto;
    position: relative;
    margin-bottom: 60%;
    margin-left: calc(100vw/2.8);
}

@media only screen and (min-width :0px) and (max-width:400px) {



    .position{
        margin-top: calc(100%/3);
        margin-left: calc(100%/3);
    }
}
